 body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    display: flex;
    justify-content: center;
    align-items: center;      
    min-height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
}

.mensaje {
    background-color: #ffffffe6;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px #0000004d;
    color: #333;
}

 h1 {
    color: #9b59b6;
}